.env
history.json
cfg.json
app.log
startup.bat
/venv
/static
/.vscode
/main/xkarasb.session
/main/xkarasb.session-journal
/main/__pycache__
/tools/__pycache__
/routers/__pycache__
xkarasb.session
xkarasb.session-journal